# 통계
* 분석하고자 하는 집단과 관련해 조사나 실험의 결과로 얻는 자료 또는 이의 요약된 형태를 의미
* 통계학 : 좀더 효과적인 의사결정을 할 수 있도록 수치자료를 수집,정리,표현,분석하는 학문
* 통계는 항상 반례 가능성을 가지고 있음
* 관련 통계 분야 : 사회과학통계, 자연과학통계, 수학학통계

# 통계학의 유형
### 1. 기술통계학
  * 자료중심 통계
  * 수집한 데이터를 요약, 묘사, 설명하는 통계기법 
  * 그래프,표,수치를 이용해서 집단의 특성 파악
  * 예) 대표값, 분산

### 2. 추론통계학 
  * 예측 중심 통계 (중요도높음)
  * 수집된 데이터를 바탕으로 예측하는 통계기법
  * 관측된 자료를 이용해서 모집단 특성 추측
    + 모수통계 
      - 빈도분석
      - 상관분석
      - 세 집단이상 평균분석
      - 회귀분석(!!!)
    + 비모수통계
      - 적합도검증
      - 변수간 상관분석

# 자료의 종류
### 1. 질적자료 
  * **문자로 표현된 자료**
    + 명목자료 : 일반적인 범주형 데이터
      ex) 남,여
    + 순서자료 : 순서의 의미가 포함된 데이터
      ex) 초등학교,중학교,고등학교,대학교

### 2. 양적자료 
  * **숫자로 표현된 자료**
  * **이산형** : 셈이 가능한 양적자료, 정수형데이터
  * **연속형** : 셈이 불가능한 양적자료, 실수형 데이터
    + 구간자료 : 양적자료를 구간별로 나누어 명목/순서의 의미를 포함시킨 데이터
      ex) 수,우,미,양,가
    + 비율자료 : 양적자료를 구간별로 나누어 서열/비율(산술)의 의미를 포함시킨 데이터
      ex) 몸무게, 시간, 키

# 데이터를 이해하는 마음가짐

* **데이터가 숲이라고 가정한다면**
  + 처음부터 숲의 나무를 보고 자세히 관찰한다기 보다는
  + 개략적으로 숲의 모양을 보고 특징을 파악하고 나무를 관찰할 것!
  + 데이터도 이런식의 접근방식을 사용해야 함

* **데이터의 특징이란**
  + 말로 표현하기 보다는 숫자로 표현하여야 하고
  + 주로 평균,편차 등등을 활용하는데
  + 이렇게 숫자로 데이터의 특징을 표현하는 과정을 **`요약summary`** 이라함

* **데이터 분석 순서**
  + 데이터를 처음 만나면
  + 요약을 먼저하고 데이터의 특징을 파악해서
  + 어떤 차이가 있는지 파악해서
  + 데이터 분석방향을 설정할 것!

# 자료의 종류
* 질적자료 : 문자로 표현된 자료
	+ 명목자료 : 일반적인 범주형 데이터
		ex) 남,여
	+ 순서자료 : 순서의 의미가 포함된 데이터
		ex) 초등학교,중학교,고등학교,대학교
	+ 구간자료 : 양적자료를 구간별로 나누어 명목/순서의 의미를 포함시킨 데이터
		ex) 수,우,미,양,가
	+ 비율자료 : 양적자료를 구간별로 나누어 서열/비율(산술)의 의미를 포함시킨 데이터
		ex) 몸무게, 시간, 키 
* 양적자료 : 숫자로 표현된 자료
	+ 이산형 : 셈이 가능한 양적자료, 정수형데이터
	+ 연속형 : 셈이 불가능한 양적자료, 실수형 데이터

# 기술통계 분석관점

### 1. 중심화경향 
  * 수집한 자료 전체를 대표하는 값이 무엇인지 나타내는 통계 (대표값)
    + 평균 : 자료를 모두 더해서 전체 자료의 갯수로 나눈 값 (정량적 자료의 대표값)   
    + 중앙값 : 자료를 크기 순으로 정렬했을 때, 중앙에 위치하는 값 (순서자료의 대표값)
    + 최빈값 : 수집한 데이터 중 그 빈도가 가장 많이 나타나는 데이터 (명목자료의 대표값)     

### 2. 분산경향 
  * 데이터가 어떻게 분포되어 있는지 설명하는 통계치
 범위
    + 사분위수
    + 분산
    + 표준편차

In [ ]:
conda install -y pandas

In [ ]:
conda install -y numpy

In [ ]:
conda install -y scipy

In [4]:
import numpy as np
import pandas as pd
import scipy as sp

# 대표값
### **평균 : 중심 척도의 대표적인 통계값**

* 평균은 유일하다
* 평균은 계산하기 쉽다
* 모든 측정값을 반영한다
* 단, 평균은 특이값(이상치)에 영향을 받는다
 ### $ \bar x = {1 \over n} \sum x_i $ : 표본평균

In [6]:
nums1 = [1,2,3,4,5,6,7,8,9,10]

mean1 = sum(nums1) / len(nums1)
mean2 = np.mean(nums1)

print(mean1,mean2)

5.5 5.5

In [11]:
# 조선조왕들의 평균수명 조사

kings = [73,62,45,53,38,16,51,28,37,30,56,30,33,56,
         66,54,40,33,59,36,82,48,44,22,32,67,52]

mean_k = np.mean(kings)

print(mean_k)

46.03703703703704

In [10]:
# 대학원생의 평균 나이 조사
studs = [19,18,19,21,20,24,19,19,20,18,21,22,23,21,19,18,22,24,21,18,19]

mean_s = np.mean(studs)

print(mean_s)

20.238095238095237

# 중앙값median
* 자료를 오름차순으로 나열한 후 가장 가운데 놓인 수
* 특이값의 영향을 받는 평균을 보완한 수치
* 자료 갯수가 짝수인 경우와 홀수인 경우 계산하는 방법이 다름
  + 데이터의 개수 $n$이 홀수라면, $\frac{(n+1)}{2} $번째 데이터가 중앙값
  + 데이터의 개수 $n$이 짝수라면, $\frac{n}{2}$번째 데이터와 $\frac{n}{2} + 1$번째 데이터의 평균이 중앙값

In [21]:
nums2 = [1,2,3,4,5,6,7,8,9]

pos = int((len(nums2)+1) / 2) - 1 # 홀수

pos1 = int(len(nums1) / 2  - 1) + 1  # 짝수

print(nums2[pos], nums1[pos1])

5 6

In [20]:
# numpy의 median함수 사용

print(np.median(nums2),np.median(nums1))

print(np.median(kings), np.median(studs))

5.0 5.5
45.0 20.0

In [42]:
# 조선조왕들의 평균수명 조사
# 단, 정렬시 sorted(대상) 함수 사용!
kings = [73,62,45,53,38,16,51,28,37,30,56,30,33,56,
         66,54,40,33,59,36,82,48,44,22,32,67,52]

kings_s = sorted(kings)

pos_k = int((len(kings_s)+1) / 2) - 1

print(kings_s[pos_k])
np.median(kings)

45

45.0

In [44]:
# 대학원생의 평균 나이 조사
# 단, 정렬시 sorted(대상) 함수 사용!
studs = [19,18,19,21,20,24,19,19,20,18,21,22,23,21,19,18,22,24,21,18,19]

studs_s = sorted(studs)

pos_s = int((len(studs_s)+1) / 2) - 1

print(studs_s[pos_s])
np.median(studs)

20

20.0

### 타이타닉 승객 나이의 평균과 중앙값

In [ ]:
# pd.read_csv(대상, 인코딩, 헤더여부, 구분자)
titanic = pd.read_csv('data/titanic.csv',)

### 사원들의 연봉의 평균, 중앙값

In [49]:
# pd.read_csv(대상, 인코딩, 헤더여부, 구분자)
emp = pd.read_csv('data/EMPLOYEES.csv')
emp.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,6000,NaN,103.0,60.0

In [62]:
# pandas 객체에서 특정 컬럼을 지정하려면 : 객체명.컬럼명, 객체명[컬럼명]
emp_m = sorted(emp.SALARY)

pos = int((len(emp_m)+1)/2)-1

print(emp_m[pos])
print(np.median(emp.SALARY)) # 중앙값

#-----------------------------
emp_sum = sum(emp.SALARY) / len(emp.SALARY)
emp_sum_np = np.round(np.mean(emp.SALARY),2)  # 평균값

print(np.round(emp_sum,2),emp_sum_np)

6200
6200.0
6461.83 6461.83