# 통계
* 분석하고자 하는 집단과 관련해 조사나 실험의 결과로 얻는 자료 또는 이의 요약된 형태를 의미
* 통계학 : 좀더 효과적인 의사결정을 할 수 있도록 수치자료를 수집,정리,표현,분석하는 학문
* 통계는 항상 반례 가능성을 가지고 있음
* 관련 통계 분야 : 사회과학통계, 자연과학통계, 수학학통계

# 통계학의 유형
### 1. 기술통계학
  * 자료중심 통계
  * 수집한 데이터를 요약, 묘사, 설명하는 통계기법 
  * 그래프,표,수치를 이용해서 집단의 특성 파악
  * 예) 대표값, 분산

### 2. 추론통계학 
  * 예측 중심 통계 (중요도높음)
  * 수집된 데이터를 바탕으로 예측하는 통계기법
  * 관측된 자료를 이용해서 모집단 특성 추측
    + 모수통계 
      - 빈도분석
      - 상관분석
      - 세 집단이상 평균분석
      - 회귀분석(!!!)
    + 비모수통계
      - 적합도검증
      - 변수간 상관분석

# 자료의 종류
### 1. 질적자료 
  * **문자로 표현된 자료**
    + 명목자료 : 일반적인 범주형 데이터
      ex) 남,여
    + 순서자료 : 순서의 의미가 포함된 데이터
      ex) 초등학교,중학교,고등학교,대학교

### 2. 양적자료 
  * **숫자로 표현된 자료**
  * **이산형** : 셈이 가능한 양적자료, 정수형데이터
  * **연속형** : 셈이 불가능한 양적자료, 실수형 데이터
    + 구간자료 : 양적자료를 구간별로 나누어 명목/순서의 의미를 포함시킨 데이터
      ex) 수,우,미,양,가
    + 비율자료 : 양적자료를 구간별로 나누어 서열/비율(산술)의 의미를 포함시킨 데이터
      ex) 몸무게, 시간, 키

# 데이터를 이해하는 마음가짐

* **데이터가 숲이라고 가정한다면**
  + 처음부터 숲의 나무를 보고 자세히 관찰한다기 보다는
  + 개략적으로 숲의 모양을 보고 특징을 파악하고 나무를 관찰할 것!
  + 데이터도 이런식의 접근방식을 사용해야 함

* **데이터의 특징이란**
  + 말로 표현하기 보다는 숫자로 표현하여야 하고
  + 주로 평균,편차 등등을 활용하는데
  + 이렇게 숫자로 데이터의 특징을 표현하는 과정을 **`요약summary`** 이라함

* **데이터 분석 순서**
  + 데이터를 처음 만나면
  + 요약을 먼저하고 데이터의 특징을 파악해서
  + 어떤 차이가 있는지 파악해서
  + 데이터 분석방향을 설정할 것!

# 자료의 종류
* 질적자료 : 문자로 표현된 자료
	+ 명목자료 : 일반적인 범주형 데이터
		ex) 남,여
	+ 순서자료 : 순서의 의미가 포함된 데이터
		ex) 초등학교,중학교,고등학교,대학교
	+ 구간자료 : 양적자료를 구간별로 나누어 명목/순서의 의미를 포함시킨 데이터
		ex) 수,우,미,양,가
	+ 비율자료 : 양적자료를 구간별로 나누어 서열/비율(산술)의 의미를 포함시킨 데이터
		ex) 몸무게, 시간, 키 
* 양적자료 : 숫자로 표현된 자료
	+ 이산형 : 셈이 가능한 양적자료, 정수형데이터
	+ 연속형 : 셈이 불가능한 양적자료, 실수형 데이터

# 기술통계 분석관점

### 1. 중심화경향 
  * 수집한 자료 전체를 대표하는 값이 무엇인지 나타내는 통계 (대표값)
    + 평균 : 자료를 모두 더해서 전체 자료의 갯수로 나눈 값 (정량적 자료의 대표값)   
    + 중앙값 : 자료를 크기 순으로 정렬했을 때, 중앙에 위치하는 값 (순서자료의 대표값)
    + 최빈값 : 수집한 데이터 중 그 빈도가 가장 많이 나타나는 데이터 (명목자료의 대표값)     

### 2. 분산경향 
  * 데이터가 어떻게 분포되어 있는지 설명하는 통계치
 범위
    + 사분위수
    + 분산
    + 표준편차

In [ ]:
conda install -y pandas

In [ ]:
conda install -y numpy

In [ ]:
conda install -y scipy

In [97]:
import numpy as np
import pandas as pd
import scipy.stats as sp

# 대표값
### **평균 : 중심 척도의 대표적인 통계값**

* 평균은 유일하다
* 평균은 계산하기 쉽다
* 모든 측정값을 반영한다
* 단, 평균은 특이값(이상치)에 영향을 받는다
 ### $ \bar x = {1 \over n} \sum x_i $ : 표본평균

In [6]:
nums1 = [1,2,3,4,5,6,7,8,9,10]

mean1 = sum(nums1) / len(nums1)
mean2 = np.mean(nums1)

print(mean1,mean2)

5.5 5.5

In [11]:
# 조선조왕들의 평균수명 조사

kings = [73,62,45,53,38,16,51,28,37,30,56,30,33,56,
         66,54,40,33,59,36,82,48,44,22,32,67,52]

mean_k = np.mean(kings)

print(mean_k)

46.03703703703704

In [10]:
# 대학원생의 평균 나이 조사
studs = [19,18,19,21,20,24,19,19,20,18,21,22,23,21,19,18,22,24,21,18,19]

mean_s = np.mean(studs)

print(mean_s)

20.238095238095237

# 중앙값median
* 자료를 오름차순으로 나열한 후 가장 가운데 놓인 수
* 특이값의 영향을 받는 평균을 보완한 수치
* 자료 갯수가 짝수인 경우와 홀수인 경우 계산하는 방법이 다름
  + 데이터의 개수 $n$이 홀수라면, $\frac{(n+1)}{2} $번째 데이터가 중앙값
  + 데이터의 개수 $n$이 짝수라면, $\frac{n}{2}$번째 데이터와 $\frac{n}{2} + 1$번째 데이터의 평균이 중앙값

In [21]:
nums2 = [1,2,3,4,5,6,7,8,9]

pos = int((len(nums2)+1) / 2) - 1 # 홀수

pos1 = int(len(nums1) / 2  - 1) + 1  # 짝수

print(nums2[pos], nums1[pos1])

5 6

In [20]:
# numpy의 median함수 사용

print(np.median(nums2),np.median(nums1))

print(np.median(kings), np.median(studs))

5.0 5.5
45.0 20.0

In [42]:
# 조선조왕들의 평균수명 조사
# 단, 정렬시 sorted(대상) 함수 사용!
kings = [73,62,45,53,38,16,51,28,37,30,56,30,33,56,
         66,54,40,33,59,36,82,48,44,22,32,67,52]

kings_s = sorted(kings)

pos_k = int((len(kings_s)+1) / 2) - 1

print(kings_s[pos_k])
np.median(kings)

45

45.0

In [44]:
# 대학원생의 평균 나이 조사
# 단, 정렬시 sorted(대상) 함수 사용!
studs = [19,18,19,21,20,24,19,19,20,18,21,22,23,21,19,18,22,24,21,18,19]

studs_s = sorted(studs)

pos_s = int((len(studs_s)+1) / 2) - 1

print(studs_s[pos_s])
np.median(studs)

20

20.0

### 타이타닉 승객 나이의 평균과 중앙값

In [ ]:
# pd.read_csv(대상, 인코딩, 헤더여부, 구분자)
titanic = pd.read_csv('data/titanic.csv',)

### 사원들의 연봉의 평균, 중앙값

In [49]:
# pd.read_csv(대상, 인코딩, 헤더여부, 구분자)
emp = pd.read_csv('data/EMPLOYEES.csv')
emp.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,6000,NaN,103.0,60.0

In [62]:
# pandas 객체에서 특정 컬럼을 지정하려면 : 객체명.컬럼명, 객체명[컬럼명]
emp_m = sorted(emp.SALARY)

pos = int((len(emp_m)+1)/2)-1

print(emp_m[pos])
print(np.median(emp.SALARY)) # 중앙값

#-----------------------------
emp_sum = sum(emp.SALARY) / len(emp.SALARY)
emp_sum_np = np.round(np.mean(emp.SALARY),2)  # 평균값

print(np.round(emp_sum,2),emp_sum_np)

6200
6200.0
6461.83 6461.83

### 기말고사 성적에 대한 평균, 중앙값

In [65]:
A = [86,67,91,80,78,93,69]
B = [63,54,80,91,78,86,30,93]

rMeA = np.round(np.mean(A),2)
rMdA = np.round(np.median(A),2)

rMeB = np.round(np.mean(B),2)
rMdB = np.round(np.median(B),2)

print(rMdA,rMdB)
print(rMeA,rMeB)

80.0 79.0
80.57 71.88

## 데이터를 pandas 객체로 다루기

In [ ]:
# Series는 1차원 데이터를 정의하는 자료구조
c = pd.Series(A)
d = pd.Series(B)
print(c,d)

In [129]:
# 2차원배열인 데이터프레임 객체 생성
# DataFrame(dict구조) : 열 우선
a = [86,67,91,80,78,93,69,0]
b = [63,54,80,91,78,86,30,93]

sj = pd.DataFrame({'A반':a,'B반':b}) # {컬럼명:대상객체}
sj.head()

   A반  B반
0  86  63
1  67  54
2  91  80
3  80  91
4  78  78

In [84]:
# 특정컬럼 지정 : 객체명.컬럼명
np.mean(sj.A반),np.mean(sj.B반)

(70.5, 71.875)

In [81]:
np.median(sj.A반),np.median(sj.B반)

(79.0, 79.0)

In [83]:
sj.mean()

A반    70.500
B반    71.875
dtype: float64

In [ ]:
# 2차원배열인 데이터프레임 객체 생성
# DataFrame(data=zip(배열),colums=컬럼명) : 행우선
sj = pd.DataFrame(data = zip(a,b),columns=['A반','B반'])
sj

# 최빈값
* 데이터들 중에서 빈도수가 가장 큰 값
* 두번 이상 발생하는 자료 중에서 자주 나타나는 자료값
* 극단값에 전혀 영향을 받지 않음
* 존재하지 않거나 여러개 존재할 수 있음

In [99]:
# 조선조 왕들의 수명의 최빈값 조사
kings = [73,62,45,53,38,16,51,28,37,30,56,30,33,56,
         66,54,40,33,59,36,82,48,44,22,32,67,52]
modek = sp.mode(kings, keepdims=False)
print(modek.mode, modek.count)  # 33,56은 제외

30 2

In [101]:
# DataFrame 객체의 value_counts 함수 사용
pd.DataFrame(kings).value_counts().head()

30    2
33    2
56    2
16    1
51    1
dtype: int64

In [105]:
# 대학원생들 나이의 최빈값 조사
studs = [19,18,19,21,20,24,19,19,20,18,21,22,23,21,19,18,22,24,21,18,19]

modes = sp.mode(studs, keepdims=False)
print(modes.mode,modes.count)

dK = pd.DataFrame(studs).value_counts().head()
print(dK)

19 6
19    6
18    4
21    4
20    2
22    2
dtype: int64

### 사원들의 직책, 부서번호 최빈값

In [106]:
emp.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,6000,NaN,103.0,60.0

In [113]:
emp.DEPARTMENT_ID.value_counts().head()

50.0     45
80.0     34
100.0     6
30.0      6
60.0      5
Name: DEPARTMENT_ID, dtype: int64

In [112]:
emp.JOB_ID.value_counts().head()

SA_REP      30
ST_CLERK    20
SH_CLERK    20
SA_MAN       5
IT_PROG      5
Name: JOB_ID, dtype: int64

### 교통사고 현황 데이터

In [167]:
# 교통사고 현황 데이터 기술통계 1
car = pd.read_csv('data/car.csv')
car = car[['주야','요일','발생지시도','발생지시군구','사고유형_대분류','법규위반','도로형태_대분류']]

car.head()

   주야 요일 발생지시도 발생지시군구 사고유형_대분류         법규위반 도로형태_대분류
0  야간  금    경기    광주시     차대사람  안전운전 의무 불이행      교차로
1  주간  일    서울    금천구     차대사람  안전운전 의무 불이행      단일로
2  야간  일    충북    진천군     차대사람  안전운전 의무 불이행      단일로
3  주간  월    경북    경주시     차대사람  안전운전 의무 불이행      단일로
4  야간  수    경남    진주시     차대사람  보행자 보호의무 위반      단일로

In [168]:
day = pd.DataFrame(car.주야).value_counts().head() # 주야
week = pd.DataFrame(car.요일).value_counts().head() # 요일
city = pd.DataFrame(car.발생지시도).value_counts().head() # 발생지시도
town = pd.DataFrame(car.발생지시군구).value_counts().head() # 발생지시군구
aci_spec = pd.DataFrame(car.사고유형_대분류).value_counts().head() # 사고유형_대분류
rules = pd.DataFrame(car.법규위반).value_counts().head() # 법규위반
road_shape = pd.DataFrame(car.도로형태_대분류).value_counts().head() # 도로형태_대분류

In [ ]:
car_data = pd.DataFrame({'주야':car.주야[1,2,3,4,5]),'요일':car.요일,'발생지시도':car.발생지시도,'발생지시군구':car.발생지시군구,
                         '사고유형_대분류':car.사고유형_대분류, '법규위반':car.법규위반,'도로형태_대분류':car.도로형태_대분류},index=

In [170]:
car_data

   주야 요일 발생지시도 발생지시군구 사고유형_대분류         법규위반 도로형태_대분류
1  주간  일    서울    금천구     차대사람  안전운전 의무 불이행      단일로
2  야간  일    충북    진천군     차대사람  안전운전 의무 불이행      단일로
3  주간  월    경북    경주시     차대사람  안전운전 의무 불이행      단일로
4  야간  수    경남    진주시     차대사람  보행자 보호의무 위반      단일로
5  주간  토    경남    거제시     차대사람  안전운전 의무 불이행      단일로

In [158]:
#car_data = [day,week,city,town,aci_spec,rules,road_shape]
#car_data = pd.DataFrame({'주야':day,'요일':week,'발생지시도':city,'발생지시군구':town,'사고유형_대분류':aci_spec, '법규위반_대분류':rules,'도로형태_대분류':road_shape},index=True)
result1 = pd.concat([day,week,city,town,aci_spec,rules,road_shape], ignore_index=True)
result1

0     2072
1     2047
2      666
3      635
4      596
5      584
6      565
7      749
8      477
9      372
10     359
11     342
12      78
13      76
14      75
15      74
16      69
17    1647
18    1646
19     826
20    4119
21    2704
22    1285
23     103
24      14
25      13
dtype: int64

In [152]:
car_data

[2047, 565, 342, 69, 826, 4119, 13]